{% extends 'site_app/base.html' %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}


<a class='button' href="{% url "site_app:ag_grid" %}">{% trans 'GRID' %}</a>
<br>
<div class='content'>
        
    <h3><a href="{% url "site_app:student" current_student.id %}">{% trans 'Student' %}: {{ current_student }}</a></h3>
    <h4>{% trans 'Documents' %}: </h4>
    

    <center>
        <table class="table_description">
            {% for doc in docs %}
            <tr>
                <td>
                    <p><b>{{ doc.name }}:</b></p>
                </td>
                <td>
                    <p>{{ doc.description }}</p>
                </td>
                <td>
                    <a href="{{ doc.file.url }}"><p><b>{{ doc.file }}</b></p></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </center>

</div>

{% endif %}

{% endblock %}