{% extends 'site_app/base.html' %}

{% load i18n %}

{% block content %}

<div class='login_signup'>

    <center>

        <h2>{% trans 'Log In' %}</h2>

        <form method='post' action="{% url 'site_app:login' %}">

            {% csrf_token %}

            <table class="login_signup_table">

                <tr>
                    <td>

                        <label for="id_username">{% trans 'Email' %}:</label>

                    </td>

                    <td>

                        <input type="text"  name="username", placeholder="{% trans 'Email' %}" required>

                    </td>
                
                </tr>
                <tr>
                    <td>

                        <label for="id_username">{% trans 'Password' %}:</label>

                    </td>

                    <td>

                        <input type="password"  name="password", placeholder="Password" autocomplete="off" required>

                    </td>
                
                </tr>

            </table>

            {% if form.errors or form.non_field_errors %}

            <div>

                {% for field in form %}

                {{ field.errors }}
                
                {% endfor %}

            </div>

            {% endif %}            

            <button class="button" type="submit">{% trans 'LOG IN' %}</button>

        </form>

    </center>
        
</div>

{% endblock %}
