{% extends 'site_app/base.html' %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}

<div style='display: none;' id="notification" class="alert alert-warning alert-dismissible fade show" role="alert">
    {% trans 'Please Wait For The PDF File To Be Generated...' %}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<a class='button' href="{% url "site_app:ag_grid" %}">{% trans 'GRID' %}</a>
<br>
<div class='content'>
        
    <h3><a href="{% url "site_app:student" current_student.id %}">{% trans 'Student' %}: {{ current_student }}</a></h3>
    <h4>{% trans 'Orders' %}: </h4>
    
    <center>
    {% for order in orders %}
    <table class="table_description">
        <tr>
            <td>
                <b>{% trans 'Subject Of Order' %}:</b>
            </td>
            <td>
                <span><b>{{ order.subject }}</b></span>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans 'Order ID' %}:</b>
            </td>
            <td>
                <span><b>{{ order.order_id }}</b></span>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans 'Issued By' %}:</b>
            </td>
            <td>
                <span><b>{{ order.issued_by }}</b></span>
            </td>
        </tr>
        <tr>
            <td>
                <b>{% trans 'Issue Date' %}:</b>
            </td>
            <td>
                <span><b>{{ order.date_issued }}</b></span>
            </td>
        </tr>
    </table>
    <br/>
    <button class='button' id="generate-pdf-btn">{% trans "Download PDF" %}</button>

    <script>
        document.getElementById('generate-pdf-btn').addEventListener('click', function() {
            document.getElementById('notification').style.display = 'block';

            var xhr = new XMLHttpRequest();
            xhr.open('GET', '{% url "site_app:generate_pdf" order.id %}', true);
            xhr.responseType = 'blob';

            xhr.onload = function() {
                if (this.status === 200) {
                    var blob = new Blob([this.response], { type: 'application/pdf' });
                    var url = window.URL.createObjectURL(blob);
                    var a = document.createElement('a');
                    a.href = url;
                    a.download = 'generated_pdf.pdf';
                    document.body.appendChild(a);
                    a.click();
                    window.URL.revokeObjectURL(url);
                } else {
                    console.error('Error generating PDF');
                }
            };

            xhr.send();
        });
    </script>
    {% endfor %}
    </center>

</div>

{% endif %}

{% endblock %}