{% extends 'site_app/base.html' %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}


<a class='button' href="{% url "site_app:ag_grid" %}">{% trans 'GRID' %}</a>
<br>
<div class='content'>    

    <h3>{% trans 'Representative' %}: {{ representative }}</h3>
    <br/>
    <br/>

    <div class='flex_box_h'>

        <div>
            {% if photos %}
            <img class='avatar' src="{{ photos.first }}" alt="img">
            {% else %}
            <img class='avatar' src="/static/site_app/avatar_boy.png" alt="img">
            {% endif %}
            
            <h4>{% trans 'Students' %}: </h4>
            <ol>
                {% for student in students %}
                    <li><a href="{% url "site_app:student" student.id %}">{{ student }}</a></li>
                {% endfor %}
            </ol>

            
        </div>

        <div>
            <h4>{% trans 'Summary' %}: </h4>
            <table class="table_description">
                <tr>
                    <td>
                        {% trans 'Birth Date' %}:
                    </td>
                    <td>
                        <span>{{ representative.birth_date }}</span>
                    </td>
                </tr>                
                <tr>
                    <td>
                        {% trans 'Personal ID' %}:
                    </td>
                    <td>
                        <span>{{ representative.personal_id }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Personal ID Details' %}:
                    </td>
                    <td>
                        <span>{{ representative.personal_id_details }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Country' %}:
                    </td>
                    <td>
                        <span>{{ representative.country }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'City' %}:
                    </td>
                    <td>
                        <span>{{ representative.city }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Address' %}:
                    </td>
                    <td>
                        <span>{{ representative.address }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Language' %}:
                    </td>
                    <td>
                        <span>{{ representative.language }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Representative type' %}:
                    </td>
                    <td>
                        <span>{{ representative.representative_type }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Phone' %}:
                    </td>
                    <td>
                        <span>{{ representative.phone }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Email' %}:
                    </td>
                    <td>
                        <span>{{ representative.email }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Other Contact' %}:
                    </td>
                    <td>
                        <span>{{ representative.other_contact }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contractor' %}:
                    </td>
                    <td>
                        <span>{{ representative.contractor }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Created' %}:
                    </td>
                    <td>
                        <span>{{ representative.created_at }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Updated' %}:
                    </td>
                    <td>
                        <span>{{ representative.updated_at }}</span>
                    </td>
                </tr>
            </table>
            <br/>

        </div>

        <div>
            {% if contracts %}
            <h4>{% trans 'Contracts' %}: </h4>
            {% for contract in contracts %}
            <table class="table_description">                
                <tr>
                    <td>
                        <b><a href="{% url "site_app:payments" contract.id %}">{% trans 'Contract ID' %}:</a></b>
                    </td>
                    <td>
                        <span><b><a href="{% url "site_app:payments" contract.id %}">{{ contract.contract_id }}</a></b></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract Date' %}:
                    </td>
                    <td>
                        <span>{{ contract.contract_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract Price' %}:
                    </td>
                    <td>
                        <span>{{ contract.contract_price }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Final Settlement Date' %}:
                    </td>
                    <td>
                        <span>{{ contract.final_settlement_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Installment Plan' %}:
                    </td>
                    <td>
                        <span>{{ contract.installment_plan }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Discount' %}:
                    </td>
                    <td>
                        <span>{{ contract.discount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Promotion' %}:
                    </td>
                    <td>
                        <span>{{ contract.promotion }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contractor' %}:
                    </td>
                    <td>
                        <span>{{ contract.contractor }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Students by contract' %}:
                    </td>
                    <td>
                        <span>
                            <ol>
                                {% for s in contract.student.all %}
                                    <li><a href="{% url "site_app:student" s.id %}">{{ s }}</li>
                                {% endfor %}
                            </ol>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Active' %}:
                    </td>
                    <td>
                        <span>{{ contract.active }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Created' %}:
                    </td>
                    <td>
                        <span>{{ contract.created_at }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Updated' %}:
                    </td>
                    <td>
                        <span>{{ contract.updated_at }}</span>
                    </td>
                </tr>
            </table>
            <br/>
            {% endfor %}
                
            <br>
            {% endif %}
            

        </div>
    
    </div>
    
</div>

{% endif %}

{% endblock %}
