{% extends 'site_app/base.html' %}

{% load i18n %}

{% block content %}

{% if request.user.is_authenticated %}


<a class='button' href="{% url "site_app:ag_grid" %}">{% trans 'GRID' %}</a>
<br>
<div class='content'>
    {% if current_student.debtor %}

    <h3 style='color: tomato'>{% trans 'Student' %}: {{ current_student }}</h3>

    <h4 style='color: tomato'>{% trans 'Sum of debt' %}: {{ debt }}</h4>
    <h4 style='color: tomato'>{% trans 'Date of debt' %}: {{ debt_date }}</h4>

    {% else %}

    <h3>{% trans 'Student' %}: {{ current_student }}</h3>
    
    {% endif %}


    <div class='flex_box_h'>
        <a class='button' href='{% url "site_app:representatives" current_student.id %}'>{% trans 'Representatives' %}</a>                
        <a class='button' href='{% url "site_app:documents" current_student.id %}'>{% trans 'Documents' %}</a>
        <a class='button' href='{% url "site_app:orders" current_student.id %}'>{% trans 'Orders' %}</a>
        <a class='button' href='{% url "site_app:statements" current_student.id %}'>{% trans 'Statements' %}</a>
        <a class='button' href='{% url "site_app:applications" current_student.id %}'>{% trans 'Applications' %}</a>
        <a class='button' href='{% url "site_app:grades" current_student.id %}'>{% trans 'Grades' %}</a>
        <a class='button' href='{% url "site_app:internships" current_student.id %}'>{% trans 'Internships' %}</a>
    </div>

    <br/>

    <div class='flex_box_h'>

        <div>
            {% if photos %}
            <img class='avatar' src="{{ photos.first }}" alt="img">
            {% else %}
            <img class='avatar' src="/static/site_app/avatar_boy.png" alt="img">
            {% endif %}
            
            <div>
                <br/>
                <h4>{% trans 'Residence Permit' %}: </h4>
                {% if residence_permit %}
                <table class="table_description">
                    <tr>
                        <td>
                            <b>{% trans 'ID' %}:</b>
                        </td>
                        <td>
                            <span><b>{{ residence_permit.residence_permit_id }}</b></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Issue Date' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.residence_permit_issue_date }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'End Date' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.residence_permit_end_date }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Arrival Date' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.arrival_date }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Student Visa' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.student_visa }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Registration Address' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.registration_address }}</span>
                        </td>
                    </tr>
                    
                    <tr>
                        <td>
                            {% trans 'Type' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.residence_permit_type }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Time Created' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.created_at }}</span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {% trans 'Time Updated' %}:
                        </td>
                        <td>
                            <span>{{ residence_permit.updated_at }}</span>
                        </td>
                    </tr>
                </table>
                {% endif %}
            </div>
        </div>

        <div>
            <h4>{% trans 'Summary' %}: </h4>
            <table class="table_description">
                <tr>
                    <td>
                        {% trans 'Birth Date' %}:
                    </td>
                    <td>
                        <span>{{ current_student.birth_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Course' %}:
                    </td>
                    <td>
                        <span><a href="{% url "site_app:course" current_student.course.id %}">{{ current_student.course }}</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Form Of Study' %}:
                    </td>
                    <td>
                        <span>{{ current_student.form_of_study }}</span>
                    </td>
                </tr>                
                <tr>
                    <td>
                        {% trans 'Start Date' %}:
                    </td>
                    <td>
                        <span>{{ current_student.start_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'End Date' %}:
                    </td>
                    <td>
                        <span>{{ current_student.end_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Personal ID' %}:
                    </td>
                    <td>
                        <span>{{ current_student.personal_id }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Personal ID Details' %}:
                    </td>
                    <td>
                        <span>{{ current_student.personal_id_details }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Country' %}:
                    </td>
                    <td>
                        <span>{{ current_student.country }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'City' %}:
                    </td>
                    <td>
                        <span>{{ current_student.city }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Address' %}:
                    </td>
                    <td>
                        <span>{{ current_student.address }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Language' %}:
                    </td>
                    <td>
                        <span>{{ current_student.language }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Phone' %}:
                    </td>
                    <td>
                        <span>{{ current_student.phone }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Email' %}:
                    </td>
                    <td>
                        <span><a href="mailto:{{ current_student.email }}">{{ current_student.email }}</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Other Contact' %}:
                    </td>
                    <td>
                        <span>{{ current_student.other_contact }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Active' %}:
                    </td>
                    <td>
                        <span>{{ current_student.active }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Created' %}:
                    </td>
                    <td>
                        <span>{{ current_student.created_at }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Updated' %}:
                    </td>
                    <td>
                        <span>{{ current_student.updated_at }}</span>
                    </td>
                </tr>
            </table>
            <br/>

            <h4>{% trans 'Representatives' %}:</h4>

                <ol>

                {% for representative in representatives %}
        
                    <li><a href="{% url 'site_app:representative' representative.id %}">{{ representative }} - {{ representative.representative_type }}{% if representative.contractor %} - {% trans "Contractor" %}{% endif %}</a></li>
        
                {% endfor %}

                </ol>
                <br/>

        </div>

        <div>
            <h4>{% trans 'Contracts' %}: </h4>
            {% for contract in contracts %}
            <table class="table_description">                
                
                <tr>
                    <td>
                        <a href="{% url "site_app:payments" contract.id %}"><b>{% trans 'Contract ID' %}:</b></a>
                    </td>
                    <td>
                        <span><a href="{% url "site_app:payments" contract.id %}"><b>{{ contract.contract_id }}</b></a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract Date' %}:
                    </td>
                    <td>
                        <span>{{ contract.contract_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contract Price' %}:
                    </td>
                    <td>
                        <span>{{ contract.contract_price }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Final Settlement Date' %}:
                    </td>
                    <td>
                        <span>{{ contract.final_settlement_date }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Installment Plan' %}:
                    </td>
                    <td>
                        <span>{{ contract.installment_plan }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Discount' %}:
                    </td>
                    <td>
                        <span>{{ contract.discount }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Promotion' %}:
                    </td>
                    <td>
                        <span>{{ contract.promotion }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Contractor' %}:
                    </td>
                    <td>
                        <span><a href="{% url "site_app:representative" contract.contractor.id %}">{{ contract.contractor }}</a></span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Students By Contract' %}:
                    </td>
                    <td>
                        <span>
                            <ol>
                                {% for s in contract.student.all %}
                                    <li><a href="{% url "site_app:student" s.id %}">{{ s }}</li>
                                {% endfor %}
                            </ol>
                        </span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Active' %}:
                    </td>
                    <td>
                        <span>{{ contract.active }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Created' %}:
                    </td>
                    <td>
                        <span>{{ contract.created_at }}</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% trans 'Time Updated' %}:
                    </td>
                    <td>
                        <span>{{ contract.updated_at }}</span>
                    </td>
                </tr>
            </table>
            <br/>
            {% endfor %}
                
            <br>
            
            

        </div>

        
    
    </div>
    
</div>

{% endif %}

{% endblock %}
